@import "base/popup.scss";

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
.body-start {
    width: 100%;
    display: flex;
    height: toRem(720);
    background-color: #f5f5f5;
}
.body-start-row {
    max-width: toRem(1440);
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.body-row-info {
    text-transform: uppercase;
}
.body-info-wlcm {
    font-weight: 500;
    color: #3D3D3D;
    font-size: toRem(19);
}
.body-info-strtmsg {
    margin-top: toRem(10);
    margin-bottom: toRem(40);
    font-weight: 900;
    color: #3D3D3D;
    font-size: toRem(94);
    white-space: nowrap;
}
.body-info-descrp {
    text-transform: none;
    font-size: toRem(19);
    line-height: toRem(32);
    word-wrap: break-word
}
//====================================================================================================
.body-goods {
    display: flex;
    width: 100%;
    height: 100%;
}
.body-goods-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: toRem(1440);
    margin: toRem(50) auto toRem(30) auto;
}
.goods-row-goods {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.goods-category {
    background-color: #FBFBFB;
    width: toRem(384);
    height: 100%;
    padding: toRem(30) toRem(24);
}
.goods-category-title {
    color: rgba(60.56, 60.56, 60.56, 0.95);
    align-items: center;
    font-size: toRem(24);
    line-height: toRem(22);
    font-weight: 700;
}
.goods-category-items {
    font-size: toRem(20);
    text-align: left;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: toRem(32);
    word-wrap: break-word;
    margin: 0 0 toRem(16) toRem(38);

}
button.goods-category-item {
    margin: toRem(21) 0 0 0;
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-right: toRem(30);
    span {
        margin: 0 0 0 toRem(10);
    }
}
button.category-active{
    font-weight: 700;
}
.goods-section-goods {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
    width: toRem(993);
}
.goods-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    width: 100%;
    height: toRem(28);
}
.filter-age {
    display: flex;
    flex-wrap: nowrap;
    line-height: toRem(22);
    font-size: toRem(20);
}
button.filter-item {
    margin-right: toRem(33);
}
button.active{
    font-weight: 700;
    margin-right: toRem(33);
    &:after {
        content: '';
        display: block;
        width: 120%;
        height: toRem(2);
        background: #3D3D3D;
        top: toRem(4);
        right: toRem(6);
        position: relative;
}
}
.filter-price {
    display: flex;
    line-height: toRem(21.333);
    font-size: toRem(20);
    align-items: center;
    flex: nowrap;
}
.filter-price-title {
    margin-right: toRem(10);
}

//====================================================================================================
.goods-elements {
    margin-top: toRem(41);
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.3s ease-out; 

}
.goods-element {
    width: toRem(310);
    margin: 0 toRem(21) 0 0;
    height: toRem(300);
}
.element-info {
    display: flex;
    flex-wrap: nowrap;
    margin-top: toRem(36);
    width: 100%;
    justify-content: space-between;
}
.element-info-name {
    font-weight: 400;
    text-align: left;
    flex: 0 1 70%;
    font-size: toRem(21);
    margin-right: toRem(15);
    word-wrap: break-word;
}
.element-info-price {
    flex: 0 1 10%;
    font-size: toRem(24);
    font-weight: 700;
    display: flex;
    align-items: center;
}
.element-img {
    width: toRem(310);
    height: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.slider-next, .slider-prev{
    display: flex;
    align-items: center;
    text-align: center;
    padding: toRem(12) toRem(16);
    border-radius: toRem(6);
    border: toRem(1.33) solid rgba(229, 229, 229, 1);
    color: #3D3D3D;
    background-color: transparent;
    &:active {
        background-color: rgba(70, 163, 88, 1);
        color: #fff;
      }
}
.slider-prev {
    margin-right: toRem(20);
}
.btn-pagination {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: toRem(18);
    line-height: toRem(16.33);
    padding: 0 toRem(21) 0 0;
    margin: toRem(20) 0 0 0;
}
//====================================================================================================

.body-recommend {
    display: flex;
    width: 100%;
}
.recommend-goods {
    width: toRem(1440);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: toRem(110) auto;
}
.recommend-good {
    width: toRem(700);
    display: flex;
    flex-wrap: nowrap;
    background-color: #FBFBFB;
}
.recommend-good-img {
    position: relative;
    bottom: toRem(75);
    left: toRem(30);
    align-items: center;
}
.good-info-title {
    color: #3D3D3D;
    text-transform: uppercase;
    font-size: toRem(24);
    font-weight: 900;
    line-height: toRem(32);
    margin: toRem(46) toRem(44) toRem(30) 0;
    text-align: right;
}
.good-info-subtitle {
    color: #727272;
    text-align: right;
    padding-left: toRem(45);
    font-size: toRem(19);
    line-height: toRem(32);
    margin: toRem(0) toRem(37) 0 0;
}
.good-info-button {
    margin: toRem(30) toRem(37) toRem(36) 0;
    float: right;
    display: flex;
    border-radius: toRem(8);
    justify-content: center;
    align-items: center;
    width: toRem(173);
    height: toRem(50);
    background-color: #46A358;
    color: #fff;
    font-weight: 500;
    line-height: toRem(27);
    font-size: toRem(19);
}

//====================================================================================================

.company-info {
    width: 100%;
    height: toRem(135);
    border-top: toRem(1.33) solid #d9d9d9;
    border-bottom: toRem(1.33) solid #d9d9d9;
    display: flex;
    flex-wrap: nowrap;
}
.company-info-row {
    align-items: center;
    font-size: toRem(19);
    width: toRem(1440);
    margin: toRem(43) auto;
    display: flex;
    justify-content: space-around;
}
.info-row-logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: toRem(24);
    font-weight: 700;
    text-transform: uppercase;
    line-height: toRem(24);
    text-align: right;
    float: right;
}
.contact-img{
    height: toRem(27);
    margin-right: toRem(6);
}
.info-row-adress {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.info-row-email {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.info-row-phone {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
//====================================================================================================

.dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
  }
  .dropdown .select {
      cursor: pointer;
      display: block;
      padding: 10px
  }
  .dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .dropdown:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  .dropdown:active {
      background-color: #f8f8f8
  }
  .dropdown.active:hover,
  .dropdown.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8
  }
  .dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .dropdown .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 2px 2px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .dropdown .dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .dropdown .dropdown-menu {
      padding: 0;
      list-style: none
  }
  .dropdown .dropdown-menu li:hover {
      background-color: #f2f2f2
  }
  .dropdown .dropdown-menu li:active {
      background-color: #e2e2e2
      
  }
//====================================================================================================

.popup__content {
    display: flex;
}
.popup__close {
    position: absolute;
    right: toRem(80);
}
.popup-content-img {
    height: toRem(592);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.popup-content-info {
    align-items: left;
    text-align: left;
    padding: toRem(31) 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: toRem(54);
}
.popup-divider {
    width: 100%;
    min-height: toRem(0.4);
    background-color: rgba(70, 163, 88, 0.5);
}
.popup-content-title {
    color: #3D3D3D;
    font-size: toRem(35);
    font-weight: 900;
    text-transform: uppercase;
    line-height: toRem(32);
}
.popup-content-article, .popup-content-stock{
    font-size: toRem(20);
    line-height: toRem(21.333);
    color: #A5A5A5;
    span {
        color: #727272;
    }
}
.popup-content-price {
    font-size: toRem(30);
    font-weight: 700;
    line-height: toRem(21.333);
    color: #2C2D3B;
}
.popup-content-titledescr {
    font-size: toRem(20);
    font-weight: 500;
    line-height: toRem(21.333);
    color: #3D3D3D;
}
.popup-content-subdescrp {
    font-size: toRem(19);
    line-height: toRem(32);
    color: #727272;
}
.popup-content-orderpanel {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.orderpanel-count {
    display: flex;
    flex-wrap: nowrap;
    margin-right: toRem(28);
    align-items: center;
}
.orderpanel-addGoods, .orderpanel-removeGoods{
    min-width: toRem(48);
    min-height: toRem(48);
    font-size: toRem(37.333);
    line-height: toRem(21.333);
    border-radius: toRem(8);
    background-color: #46A358;
    text-align: center;
    color: #FFFFFF;
}
.orderpanel-countGoods {
    text-align: center;
    margin: 0 toRem(27);
    color: #3D3D3D;
    font-size: toRem(27);
    line-height: toRem(13.333);
}
.orderpanel-goOrder {
    background: #46A358;
    width: toRem(173);
    height: toRem(53);
    border-radius: toRem(8);
    color: #fff;
    font-size: toRem(19);
    font-weight: 700;
    text-transform: uppercase;
    line-height: toRem(27);
    margin-right: toRem(15);
}
.orderpanel-cart {
    background: transparent;
    border: toRem(1.33) solid #46A358;
    width: toRem(173);
    height: toRem(53);
    border-radius: toRem(8);
    color: #46A358;
    font-size: toRem(19);
    font-weight: 700;
    text-transform: uppercase;
    line-height: toRem(27);
    margin-right: toRem(15);
}
  
//====================================================================================================

.choice-auth {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: toRem(53.2);
}
.login-auth, .register-auth{
    font-size: toRem(20);
    line-height: toRem(16);
    font-weight: 500;
    color: #3D3D3D;
    z-index: 999;
}
.auth-active {
    color: #46A358;
}
.divider-auth {
    margin: 0 toRem(12);
    font-size: toRem(16);
    font-weight: 100;
    line-height: toRem(16);
}
.text-auth {
    font-size: toRem(13);
    line-height: toRem(16);
    color: #3D3D3D;
}
.email-auth {
    margin: toRem(30) 0 toRem(20) 0;
}
.auth-enter-password {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    width: toRem(300);
    height: toRem(40);
    margin: 0 0 toRem(30) 0;
    border-radius: toRem(5);
    background-color: transparent;
    border: toRem(1) solid #dadada;
}
.email-auth, .password-auth {
    padding: 0 toRem(40) 0 toRem(14);
    width: toRem(300);
    height: toRem(40);
    border-radius: toRem(5);
    background-color: transparent;
    border: toRem(1) solid #dadada;
    &:focus {
        border-color: #46A358;
    }
}
.show-auth {
    background-image: url("../img/show.svg") !important; 
}
.hide-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: toRem(40);
    width: toRem(40);
    background-image: url("../img/Hide.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    right: 0;
    z-index: 200;
    position: absolute;
}
.auth-forgot {
    width: 100%;
    font-size: toRem(12);
    line-height: toRem(16);
    text-align: right;
    color: #46A358;
}
.form_auth_button {
    font-size: toRem(16);
    font-weight: 700;
    line-height: toRem(16);
    color: #FFFFFF;
    background-color: #46A358;
    width: 100%;
    height: toRem(45);
    border-radius: toRem(5);
}
.popup-hidden {
    display: none;
}
//====================================================================================================

.cart-goods {
    display: flex;
    flex-wrap: nowrap;
}
.cart-info {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-info-title {
    width: 100%;
    margin-bottom: toRem(10);
    font-size: toRem(15);
    color: #3D3D3D;
    font-weight: 700;
    line-height: toRem(13);
}
.cart-info-calcs {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: toRem(0.25) solid rgba(70, 163, 88, 0.5);
}
.info-calcs-subt, .info-calcs-ship, .cart-info-total{
    font-size: toRem(15);
    line-height: toRem(13.23);
    color: #3D3D3D;
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: toRem(9) 0;
}
.info-calcs-ship {
    margin: 0 0 toRem(9) 0;
}
.cart-info-shipping {
    float: right;
    text-align: right;
    color: #46A358;
    font-size: toRem(10);
    line-height: toRem(13.23);
}
.cart-info-total {
    font-weight: 700;
    color: #2C2D3B;
}
.cart-info-submit {
    color: #fff;
    margin-bottom: toRem(9);
    font-size: toRem(13);
    line-height: toRem(13.23);
    width: 100%;
    height: toRem(35);
    border-radius: toRem(2.5);
    background-color: rgba(70, 163, 88, 1);
    &:hover {
        color: rgba(70, 163, 88, 1);
        background-color: #fff;
      }
    &:active {
        background-color: rgba(70, 163, 88, 1);
        color: #fff;
      }
}
.btn-activate {
    a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    &:hover {
        color: rgba(70, 163, 88, 1);
        border: toRem(0.5) solid #46A358;
        background-color: transparent;
      }
    &:active {
        background-color: rgba(70, 163, 88, 1);
        color: #fff;
      }
}
.btn-activate-text {
    &:hover {
        background-color: rgba(70, 163, 88, 1);
        border: toRem(0.5) solid #46A358;
        color: #fff;
      }
    &:active {
        color: rgba(70, 163, 88, 1);
        background-color: transparent;
      }
}
.cart-goods{
    display: flex;
    flex: 0 1 75%;
    flex-direction: column;
    margin-right: 5%;
}
.cart-goods-header {
    padding: 0 0 toRem(10) 0;
    border-bottom: toRem(0.25) solid #46A358;
    margin-bottom: toRem(10);
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    color: #3D3D3D;
    font-size: toRem(13.23);
    font-weight: 500;
    line-height: toRem(13.23);

    .goods-header-item1 {
        flex: 0 1 30%;
        justify-content: center;
        align-items: center;
        }
    .goods-header-item2 {
        flex: 0 1 15%;
        text-align: center;
    }
    .goods-header-item3 {
        flex: 0 1 25%;
        text-align: center;
    }
    .goods-header-item4 {
        flex: 0 1 20%;
        text-align: center;
    }
}
.goods-header-item {
    display: block;
}
.shipping-goods-forms {
    flex: 0 1 65%;
    display: flex;
    flex-direction: column;
}
// Форма из доставки
.shipping-forms-title {
    width: 100%;
    font-weight: 500;
    font-size: toRem(19);
    line-height: toRem(20);
    margin: 0 0 toRem(26) 0;
}
.shipping_form_details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.inputbox_shipping {
    flex: 0 1 50%;
    height: toRem(65.5);
    display: flex;
    position: relative;
    margin: toRem(24) 0 0 0;
    flex-direction: column-reverse;
    color: #3D3D3D;
    justify-content: space-between;
}
.defShipping {
    display: flex;
    height: toRem(45);
    width: 90%;
    border-radius: toRem(2.82);
    border: toRem(0.94) solid rgba(234, 234, 234, 1);
    padding: 0 toRem(40) 0 toRem(10);
    &:focus {
        border-color: #46A358;
    }
}
.shipping-textinputbox {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    position: relative;
    justify-content: left;
    align-items: center;
    font-size: toRem(14);
    line-height: toRem(14);
    span{
        color: #F03800;
        font-size: toRem(18);
        line-height: toRem(12.12);
        margin-left: toRem(5);
    }
}
.btn-submit {
}
// Коризна из главного меню
.goods-body-good {
    display: flex;
    flex-wrap: nowrap;
    font-size: toRem(13.23);
    line-height: toRem(13.23);
    align-items: center;
    text-align: center;
    margin: 0 0 toRem(9) 0;
    background-color: rgba(226, 226, 226, 0.2);;
}
.goods-body-img {
    width: toRem(59.76376);
    height: toRem(59.76376);
    margin: 0 toRem(5);
    background-image: url(../img/goods1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.goods-body-info {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-info-title {
    text-align: left;
    font-weight: 500;
    color: #3D3D3D;
}
.body-info-stock {
    text-align: left;
    margin: toRem(5) 0 0 0;
    color: #727272;
    font-size: toRem(11.58);
}
.goods-body-price {
    display: block;
    text-align: center;
    justify-content: center;
    flex: 0 1 15%;
    color: #727272;
    font-weight: 500;
}
.goods-body-count {
    flex: 0 1 25%;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.body-removeGoods, .body-addGoods {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: toRem(5);
    width: toRem(20);
    height: toRem(20);
    background-color: rgba(70, 163, 88, 0.95);
}
.body-countGoods {
    margin: 0 toRem(10.30);
}
.goods-body-total {
    display: block;
    flex: 0 1 20%;
    text-align: center;
    color: #2C2D3B;
    font-weight: 700;
}
.goods-body-delelem {
    padding: toRem(1.81), toRem(2.42), toRem(1.87), toRem(2.81);
    flex: 0 1 10%;
    height: toRem(60);
    background-image: url("../img/Delete.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: toRem(18) toRem(18)
}
.goods-elem {
    flex: 0 1 30%;
}
//====================================================================================================

.page-ship-order {
    flex: 0 1 35%;
}

.shipping-goods {
    display: flex;
    flex-wrap: nowrap;
}
.shipping-goods-row {
    display: flex;
    flex-wrap: nowrap;
    width: toRem(1440);
    justify-content: space-between;
    margin: 0 auto;
}
.ship-order-total {
    width: 100%;
    margin: toRem(25) 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    float: right;
}
.order-goods-orders {
    border: none;
}
.ship-order-calc {
}
.ship-info-block1 {
    border: none;
}
.ship-info-total {
    width: 100%;
}
.order-subt, .order-ship{
    font-size: toRem(18);
    line-height: toRem(20);
    color: #3D3D3D;
    span {
        font-size: toRem(19);
        line-height: toRem(20);
        font-weight: 500;
    }
    margin: toRem(12) 0 toRem(31) 0;
}
.order-ship {
    margin: 0 0 toRem(10) 0;
}
.order-totl {
    font-size: toRem(18);
    line-height: toRem(20);
    margin: toRem(60) 0 0 0;
    padding: toRem(20) 0 0 0;
    border-top: toRem(0.25) solid rgba(70, 163, 88, 0.5);
    width: 100%;
    span {
        font-size: toRem(19);
        font-weight: 700;
        line-height: toRem(20);
        color: #46A358;
    }
}
.ship-order-payment {
    margin: toRem(26) 0 0 0;
    width: 45%;
}
.order-payment-title {
    float: right;
    font-size: toRem(19);
    width: 100%;
    font-weight: 500;
    line-height: toRem(20);
    color: #3D3D3D;
}

.checkbox {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}
.checkbox-online{
    margin: toRem(24) 0;
}
.checkbox-online, .checkbox-cash {
    display: flex;
    align-items: center;
    justify-content: left;
    border: toRem(1.24) solid #EAEAEA;
    border-radius: toRem(3.72);
    height: toRem(45);
    padding: toRem(15) 0;
    input {
        width: toRem(20);
        height: toRem(20);
        border: 1px solid #46A358;
    }
}
.checkbox__text {
    font-size: toRem(16);
    line-height: toRem(18);
    color: #3D3D3D;
}
.button-order {
    background-color: rgba(70, 163, 88, 1);
    font-size: toRem(18);
    line-height: toRem(20);
    font-weight: 700;
    color: white;
    width: 100%;
    height: toRem(50);
    border-radius: toRem(4);
    float: right;
    margin: toRem(60) 0 0 0;
}
.checkbox-online, .checkbox-cash {
    width: 100%;
	display: flex;
	align-items: center;
    position: relative;
    cursor: pointer;
	&__input {
		width: toRem(20);
		height: toRem(20);
		opacity: 1;
		position: absolute;
        left: toRem(15);
		&:focus-visible + .options__label:before {
			box-shadow: 1 1 5px #46A358;
		}
		&:checked + .options__label:before {
		}
		&:checked + .options__label:after {
			transform: scale(1);
		}
	}
	span {
        width: 100%;
        margin: 0 0 0 toRem(50);
	}
}
.checkbox-online {
    margin: toRem(25) 0 toRem(25) 0;
}

//====================================================================================================
.order-good-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fbfbfb;
    padding: toRem(10) toRem(10) toRem(10) 0;
    margin: 0 0 toRem(18) 0;
}
.good-order-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.good-order-img {
    min-width: toRem(87);
    min-height: toRem(87);
    margin: 0 toRem(17.27) 0 0;
    background-image: url("../img/goods1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.good-order-title {
    color: #3D3D3D;
    font-size: toRem(18);
    line-height: toRem(18);
    font-weight: 500;
    margin: 0 0 toRem(10) 0;
    word-break: break-word;

}
.good-order-subtitle {
    font-size: toRem(16);
    line-height: toRem(20);
    color: #A5A5A5;
    span {
        color: #727272;
    }
}
.good-order-amount {
    color: #727272;
    font-size: toRem(18);
    line-height: toRem(20);
}
.good-order-total {
    color: #46A358;
    font-size: toRem(23);
    line-height: toRem(20);
    font-weight: 700;
}
//====================================================================================================

.page-user-auth {
    display: flex;
    flex-wrap: nowrap;
}
.user-auth-row {
    width: toRem(1440);
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}
.user-auth-pages {
    width: toRem(386);
    height: toRem(278);
    display: flex;
    flex-direction: column;
    padding: toRem(21) 0 0 0;
    margin: 0 toRem(17) 0 0;
    background-color: #FBFBFB;  
}
.user-pages-title {
    font-size: toRem(22.41);
    font-weight: 700;
    line-height: toRem(20);
    color: #3D3D3D;
    margin: 0 0 toRem(4) toRem(22);
}
.user-pages {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    color: #727272;
    font-size: toRem(18.68);
    line-height: toRem(56.83);
}
.user-pages-details {
}
.active-page {
    position: relative;
    color: #46A358;
    font-weight: 600;
    &:after {
        content: '';
        display: block;
        width: toRem(5);
        height: toRem(45);
        background: #46A358;
        left: 0;
        position: absolute;
}
}
.pages-details-img {
    width: toRem(26);
    height: toRem(26);
    background-image: url("../img/user-acc-active.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.pages-img-user {
    margin: 0 toRem(10) 0 toRem(24);
}
.pages-address-img {
    width: toRem(26);
    height: toRem(26);
    background-image: url("../img/location.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.pages-orders-img {
    width: toRem(26);
    height: toRem(26);
    background-image: url("../img/shopcart.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.pages-goods-img {
    width: toRem(26);
    height: toRem(26);
    background-image: url("../img/box.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.user-pages-logout {
    font-weight: 700;
    height: toRem(61);
    color: #46A358;
    border-top: toRem(0.28) solid rgba(70, 163, 88, 0.6);
}
.pages-logout-img {
    width: toRem(26);
    height: toRem(26);
    background-image: url("../img/Logout.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.user-auth-forms {
    width: toRem(1120);
}

.auth-forms-title {
    font-size: toRem(20);
    line-height: toRem(20);
    font-weight: 500;
    color: #3D3D3D;
}

.defForm {
    width: toRem(525);
    height: toRem(50);
    border-radius: toRem(2.82);
    border: toRem(0.94) solid rgba(234, 234, 234, 1);
    padding: 0 toRem(50) 0 toRem(10);
    &:focus {
        border-color: #46A358;
    }
}
.textinputbox {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    position: relative;
    justify-content: left;
    align-items: center;
    span{
        color: #F03800;
        font-size: toRem(20.16);
        line-height: toRem(14.12);
        margin-left: toRem(5);
    }
}
.inputbox_user {
    height: toRem(77.5);
    display: flex;
    position: relative;
    flex: 0 1 50%;
    margin: toRem(24) 0 0 0;
    flex-direction: column-reverse;
    font-size: toRem(14);
    line-height: toRem(14);
    color: #3D3D3D;
    justify-content: space-between;
}
.user-auth-forms {
    width: 100%;
}
.user_form_details {
    display: flex;
    flex-wrap: wrap;
}
.change-password-user {
    margin: toRem(32) 0 0 0;
    width: 100%;
}
.password-user-title {
    font-size: toRem(20);
    line-height: toRem(20);
    font-weight: 500;
}
.btn-submit {
    font-size: toRem(18);
    line-height: toRem(20);
    font-weight: 700;
    margin: toRem(33) 0 0 0;
    color: white;
    width: toRem(165);
    height: toRem(50);
    border-radius: toRem(4);
    background-color: #46A358;
}

.password-checker {
    width: toRem(50);
    height: toRem(50);
    background-image: url("../img/Hide.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
    position: absolute;
    bottom: 0;
    left: toRem(473);
}

//====================================================================================================

.auth-forms-title {
    font-size: toRem(21);
    line-height: toRem(20);
    font-weight: 700;
    color: #3D3D3D;
}
.auth-goods-header {
    font-size: toRem(20);
    color: #3D3D3D;
    line-height: toRem(20);
    font-weight: 500;
    border-bottom: toRem(0.25) solid #46A358;
    margin: toRem(25.33) 0 0 0;
    padding: 0 toRem(20) toRem(13.14) 0;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    color: #3D3D3D;
    justify-content: space-between;
    text-align: center;

    .auth-header-item {
    }
    .auth-header-item1 {
        flex: 0 1 30%;
        text-align: left;
    }
    .auth-header-item2 {
        flex: 0 1 14%;
    }
    .auth-header-item3 {
        flex: 0 1 17%;
    }
    .auth-header-item4 {
        flex: 0 1 17%;
    }
    .auth-header-item5 {
        flex: 0 1 10%;
    }
    .auth-header-item6 {
        flex: 0 1 12%;
        text-align: right;
    }

}
.forms-body-good {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 toRem(20) 0 0;
    margin: toRem(14.02) 0 0 0;
    background-color: rgba(251, 251, 251, 1);
}
.body-good-img {
    width: toRem(87);
    height: toRem(87);
    margin: 0 toRem(17) 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.body-good-info {
    flex: 0 1 30%;
    text-align: left;
    display: flex;
    word-wrap: break-word;
    flex-wrap: nowrap;
    align-items: center;
}
.body-good-blocktext {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
}
.good-info-titleorder {
    display: inline-block;
    width: 100%;
    font-size: toRem(18);
    line-height: toRem(18);
    color: #3D3D3D;
    font-weight: 500;
    margin-bottom: toRem(10);
}
.good-info-article {
    font-size: toRem(16);
    line-height: toRem(20);
    color: #A5A5A5;
    span {
        color: #767676;
    }
}
.body-good-status {
    flex: 0 1 14%;
    font-size: toRem(19);
    line-height: toRem(20);
    &.greenStatus {
        color: #46A358;
    }
    &.defaultStatus {
        color: #2C2D3B;
    }
    &.redStatus {
        color: #E10707;
    }
}
.body-good-datadelivery, .body-good-datasale {
    flex: 0 1 17%;
    font-size: toRem(19);
    line-height: toRem(20);
    color: #2C2D3B;
}
.body-good-amount {
    flex: 0 1 10%;
    color: #727272;
    line-height: toRem(20);
    font-size: toRem(18);
}
.body-good-subtotal {
    font-size: toRem(23);
    line-height: toRem(20);
    font-weight: 700;
    color: #46A358;
    float: right;
    flex: 0 1 12%;
    text-align: right;
}

//====================================================================================================

.page-admin-auth {
    display: flex;
    flex-wrap: nowrap;
}
.admin-auth-row {
    width: toRem(1440);
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}
.admin-auth-pages {
    display: flex;
    flex: 0 1 20%;
    height: toRem(290);
    flex-direction: column;
    padding: toRem(21) 0 0 0;
    margin: 0 toRem(17) 0 0;
    background-color: #FBFBFB;  
}
.admin-pages-title {
    font-size: toRem(22.41);
    font-weight: 700;
    line-height: toRem(20);
    color: #3D3D3D;
    margin: 0 0 toRem(14) toRem(22);
}
.admin-pages {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    color: #727272;
    font-size: toRem(18.68);
    line-height: toRem(56.83)
}
.admin-active-page {
    position: relative;
    color: #46A358;
    font-weight: 600;
    &:after {
        content: '';
        display: block;
        width: toRem(5);
        height: toRem(45);
        background: #46A358;
        left: 0;
        position: absolute;
}
}
.pages-img-admin {
    margin: 0 toRem(10) 0 toRem(24);
}
.admin-pages-logout {
    font-weight: 700;
    height: toRem(61);
    color: #46A358;
    border-top: toRem(0.28) solid rgba(70, 163, 88, 0.6);
}

.admin-auth-block {
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
}
.admin-forms-title {
    color: #3D3D3D;
    font-size: toRem(21);
    line-height: toRem(20);
    font-weight: 700;
}
.admin-users-header {
    display: flex;
    margin: toRem(26) 0 0 0;
    padding: 0 0 toRem(14) 0;
    border-bottom: toRem(0.37) solid rgba(70, 163, 88, 0.5);
    font-size: toRem(20);
    line-height: toRem(20);
    font-weight: 500;
    color: #3D3D3D;
    text-align: center;
    align-items: center;
}
.admin-header-item1 {
    flex: 0 1 10%;
}
.admin-header-item3 {
    flex: 0 1 37.5%;
}
.admin-header-item4 {
    flex: 0 1 27.5%;
}
.admin-forms-body {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
}


.forms-body-userinfo {
    margin: toRem(10) 0 0 0;
    padding: toRem(28) 0;
    background-color: #FBFBFB;
    display: flex;
    width: 100%;
    height: toRem(87);
    text-align: center;
    font-size: toRem(19);
    line-height: toRem(20);
    align-items: center;
}
.body-userinfo-id {
    font-size: toRem(21.33);
    line-height: toRem(18);
    flex: 0 1 10%;
}
.body-userinfo-email {
    text-decoration: underline;
    flex: 0 1 37.5%;
}
.body-userinfo-status {
    color: #46A358;
    flex: 0 1 27.5%;
    
    &.unblocked {
        color: #46A358;
    }
    &.blocked {
        color: #E10707;
    }
}
.body-userinfo-opportunity {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 0 toRem(30) 0 0;
    flex: 0 1 25%;
}
.userinfo-opportunity-changer {
    width: 50%;
    height: toRem(87);
    background-image: url("../img/filter and sort.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
}
.userinfo-opportunity-delete {
    width: 50%;
    height: toRem(87);
    background-image: url("../img/admin-del.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21.53px 24.6px;
}

//modal admin

.username-changeInfo {
    display: flex;
    flex-wrap: nowrap;
    width: toRem(1340);
    justify-content: space-between;
}
.username-personal-title, .username-address-title {
    width: 100%;
    font-size: toRem(21);
    line-height: toRem(20);
    font-weight: 500;
    color: #3D3D3D;
}
.username-address {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.adminForm {
    height: toRem(50);
    width: 100%;
    border-radius: toRem(2.82);
    border: toRem(0.94) solid rgba(234, 234, 234, 1);
    padding: 0 toRem(50) 0 toRem(10);
    &:focus {
        border-color: #46A358;
    }
}

.admin-input-personal, .admin-input-address {
    height: toRem(77.5);
    display: flex;
    position: relative;
    flex: 0 1 47.5%;
    margin: toRem(24) 0 0 0;
    flex-direction: column-reverse;
    font-size: toRem(14);
    line-height: toRem(14);
    color: #3D3D3D;
    justify-content: space-between;
    label {
        font-size: toRem(18.24);
        line-height: toRem(18.24);
        color: #3D3D3D;
    }
}

.admin-input-address {
    flex: 0 1 47.5%;
}

.admin-input-personal {
    .form_toggle {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .form_toggle-item {
        text-align: center;
        width: 50%;
    }
    .form_toggle-item input[type=radio] {
        display: none;
    }
    .form_toggle-item {
        display: flex;
        align-items: center;
        height: toRem(50);   
        label {
            width: 100%;
            line-height: 34px;    
            border-right: none;
            cursor: pointer;
            user-select: none; 
        }
        border: toRem(0.25) solid #d9d9d9;
    }
     
    .form_toggle .item-1{
        border-radius: 0 toRem(6) toRem(6) 0;
    }
    .form_toggle .item-2{
        border-radius: toRem(6) 0 0 toRem(6);
    }
    .item-1-checked{
        background-color: #D62424;
        label {
            color: white;
        }    }
    .item-2-checked{
        background-color: #46A358;
        label {
            color: white;
        }
    }
}
.shipping-goods-forms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.slider {
    position: relative;
    left: 0;
    transition: left 0.3s ease-out; 
    display: flex;
    width: 993px; 
  }
  
  .slide {
    display: block;
    min-width: 331px;
    height: 300px;
    float: left;
  }

//   Goods у админа

.admin-users-header {
    text-align: center;
    font-size: toRem(20);
    line-height: toRem(20);
    color: #3D3D3D;
    .admin-goods-item1 {
        text-align: left;
        flex: 0 1 25%;
    }
    .admin-goods-item2 {
        flex: 0 1 10%;
    }
    .admin-goods-item3 {
        flex: 0 1 20%;
    }
    .admin-goods-item4 {
        flex: 0 1 10%;
    }
    .admin-goods-item5 {
        flex: 0 1 15%;
    }
    .admin-goods-item6 {
        flex: 0 1 20%;
        font-weight: 500;
        text-align: center;
        span {
            font-size: toRem(22);
            font-weight: 400;
        }
        &:hover {
            text-decoration: underline;
        }
        &:active {
            text-decoration: none;
        }
    }
}
.admin-goods-body {
}
.goods-body-item {
    margin: toRem(14) 0 0 0;
    align-items: center;
    background-color: #FBFBFB;
    justify-content: center;
    text-align: center;
    display: flex;
    height: auto;
    width: 100%;
    color: #2C2D3B;
    font-size: toRem(18.67);
    font-weight: 500;
    line-height: toRem(20);
}
.goods-body-info {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex: 0 1 25%;
}
.body-goods-img {
    width: toRem(87);
    height: toRem(87);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.body-goods-block {
    margin: 0 0 0 toRem(18);
}
.body-goods-article {
    color: #A5A5A5;
    font-weight: 400;
    font-size: toRem(16);
    span {
        color: #727272;
    }
}
.body-goods-stock {
    flex: 0 1 10%;
}
.body-goods-category {
    flex: 0 1 20%;
    word-wrap: break-word;
}
.body-goods-age {
    flex: 0 1 10%;
}
.body-goods-price {
    color: #46A358;
    font-size: toRem(18);
    line-height: toRem(16);
    font-weight: 700;
    flex: 0 1 15%;
}
.goods-body-btns {
    flex: 0 1 20%;
    display: flex;
}
.userinfo-goods-changer {
    width: 50%;
    height: toRem(87);
    background-image: url("../img/filter and sort.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
}

//modal Goods

.admin-goods-row {
    color: #3D3D3D;
    display: flex;
    flex-direction: column;
}
.goods-row-title {
    font-size: toRem(21);
    line-height: toRem(20);
    font-weight: 500;
    width: 100%;
}
.goods-allforms {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admin-input-goods {
    height: toRem(77.5);
    display: flex;
    position: relative;
    flex: 0 1 47.5%;
    margin: toRem(24) 0 0 0;
    flex-direction: column-reverse;
    font-size: toRem(14);
    line-height: toRem(14);
    color: #3D3D3D;
    justify-content: space-between;
    label {
        font-size: toRem(18.24);
        line-height: toRem(18.24);
        color: #3D3D3D;
    }
}
.goodsForm {
    height: toRem(50);
    width: 100%;
    border-radius: toRem(2.82);
    border: toRem(0.94) solid rgba(234, 234, 234, 1);
    padding: 0 toRem(50) 0 toRem(10);
    &:focus {
        border-color: #46A358;
    }
}
.textinputbox-admin {
    text-align: left;
    float: left;
}
.form_toggle-item-admin {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    height: toRem(50);
    font-size: toRem(16);
    line-height: toRem(14);
    border: toRem(0.25) solid #d9d9d9;
}
.form_toggle-admin {
    flex: 0 1 47.5%;
    display: flex;
    height: toRem(85);
    text-align: center;  
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
    label {
        width: 100%;
        display: block;
        border-right: none;
        cursor: pointer;
        user-select: none; 
    }
    .item-admin-1 {
        border-radius: toRem(6) 0 0 toRem(6);
    }
    .item-admin-3 {
        border-radius: 0 toRem(6) toRem(6) 0;
    }
}
.toggle-forms-block {
    display: flex;
    width: 100%;
}
.item-checked{
    background-color: #46A358;
    label {
        color: white;
    }
}
.form_toggle-item-admin input[type=radio] {
    display: none;
}
.admin-input-textarea {
    height: toRem(77.5);
    display: flex;
    position: relative;
    flex: 0 1 47.5%;
    flex-direction: column-reverse;
    font-size: toRem(14);
    line-height: toRem(14);
    color: #3D3D3D;
    justify-content: space-between;
    label {
        font-size: toRem(18.24);
        line-height: toRem(18.24);
        color: #3D3D3D;
    }
}
.description-admin-goods {
    width: 100%;
    margin: toRem(10) 0 0 0;
    border-radius: toRem(2.82);
    border: toRem(0.94) solid rgba(234, 234, 234, 1);
    padding: toRem(5) toRem(10);
    resize: none;
    &:focus {
        outline: none !important;
        border: toRem(1) solid #46A358;
      }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}